{% extends "base.html" %}
{% load static %}

{% block title %}Rooms{% endblock title %}

{% block content %}
    <a href="{% url 'chats:create_room' %}" class="btn btn-success">Create room</a>
    {% for room in rooms %}
        <div class="card text-center mt-2">
            <div class="card-body">
                <h5 class="card-title">{{ room.name }}</h5>
                <a href="{% url 'chats:room_chat' room.id %}" 
                    class="btn btn-success">Enter in the room</a>
                {% if request.user == room.owner %}
                    <form method="post" action="{% url 'chats:delete_room' room.id %}">
                        {% csrf_token %}
                        <button class="btn btn-success">Delete</button>
                    </form>
                {% endif %}
            </div>
            <div class="card-footer text-body-secondary">{{ room.last_message_time }}</div>
        </div>
    {% endfor %}
{% endblock content %}