<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>{% block title %}{% endblock title %}</title>
      {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
      <style>
         a {
            color: white;
            text-decoration: none;
         }
      </style>
   </head>
   <body>
      <nav class="navbar navbar-dark bg-dark navbar-expand-lg navbar-light bg-light">
         <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'blogs:posts' %}">COPYGRAM</a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
               <ul class="navbar-nav mr-auto">
                  {% if user.is_authenticated %}
                     <li class="nav-item dropdown">
                        {% with user=request.user %}
                           <a class="nav-link dropdown-toggle" href="#" 
                                 role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ user.username }}</a>
                           <ul class="dropdown-menu">
                              <li>
                                 <a class="dropdown-item" href="{% url 'users:profile' user.slug %}">Profile</a>
                              </li>
                              <li>
                                 <a class="dropdown-item" href="{% url 'users:logout_user' %}">Logout</a>
                              </li>
                              <li>
                                 <a class="dropdown-item" href="{% url 'users:blocked' %}">Blocked</a>
                              </li>
                              <li>
                                 <a class="dropdown-item" href="{% url 'users:activity' %}">Activity</a>
                              </li>
                              <li>
                                 <a class="dropdown-item" href="{% url 'users:saved_posts' %}">Saved</a>
                              </li>
                              <li>
                                 <a class="dropdown-item" href="{% url 'users:settings' %}">Settings</a>
                              </li>
                           </ul>
                        {% endwith %}
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:actions' %}">Actions
                           {% if unread_actions %}
                              <span id="unread-messages">{{ unread_actions }}</span>
                           {% endif %}
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'chats:chats' %}">Chats
                           {% if unread_chat_messages %}
                              <span id="unread-messages">{{ unread_chat_messages }}</span>
                           {% endif %}
                        </a>
                     </li>
                     <li class="nav-item">
                        <a class="nav-link" href="{% url 'chats:rooms' %}">Rooms
                           {% if unread_room_messages %}
                              <span id="unread-messages">{{ unread_room_messages }}</span>
                           {% endif %}
                        </a>
                     </li>
                  {% else %}
                     <li class="nav-item">
                           <a class="nav-link" href="{% url 'users:login_user' %}">Login</a>
                     </li>
                     <li class="nav-item">
                           <a class="nav-link" href="{% url 'users:register' %}">Register</a>
                     </li>
                  {% endif %}
               </ul>
            </div>
            <form action="{% url 'users:search' %}" class="d-flex">
               <input type="search" id="form1" class="form-control me-2" name="q"/>
               <button class="btn btn-success">Search</button>
            </form>
         </div>
      </nav>
      <div class="container-fluid mt-3">
         {% block content %}{% endblock content %}
      </div>
      <script>
         const user = '{{ request.user.username }}'
      </script>
      {% block jscontent %}{% endblock jscontent %}
   </body>
</html>